---
import Header from "../components/Header.astro";
import Project from "../components/Project.astro";
import Sidebar from "../components/Sidebar.astro";
const projects = [
  {
    title: "Agenda Automatizada - G&L Group",
    desc: [
      "Desarrollé la interfaz de un servicio de automatización de reuniones utilizando React y Vite, optimizando la experiencia de usuario en la configuración de parámetros.",
      "Implementé formularios dinámicos y validaciones de datos para asegurar el cumplimiento de las reglas de negocio establecidas por el usuario.",
      "Mejoré los tiempos de carga y la agilidad del desarrollo mediante el uso de Vite, garantizando una arquitectura de componentes modular y escalable.",
      "Integré y procesé datos provenientes de una API REST interna, asegurando la correcta sincronización entre el servidor y la interfaz de usuario.",
      "Gestioné el flujo de información asíncrona para transformar los datos crudos del backend en elementos visuales dinámicos y funcionales.",
    ],
    tech: [
      "React",
      "Vite",
      "Tailwind CSS",
      "Node.js",
      "Git",
      "GitLab",
      "Postman",
    ],
  },
];
---

<!doctype html>
<html>
  <Header title="Proyectos | Luis Torri" />
  <body>
    <div class="content">
      <Sidebar selectedItem="software-development" />
      <nav class="main">
        <div class="container">
          <div class="back-nav-container">
            <a href="/" class="back-nav-button w-inline-block"
              ><img
                src="/assets/back.svg"
                loading="lazy"
                alt=""
                class="back-nav-img"
              />
            </a>
          </div>
          <div class="content-container">
            <h1>Proyectos</h1>
            <section class="items-container">
              <div class="resouce-items">
                {
                  projects.map((project) => (
                    <Project
                      title={project.title}
                      desc={project.desc}
                      tech={project.tech}
                    />
                  ))
                }
              </div>
            </section>
          </div>
        </div>
      </nav>
    </div>

    <!--[if lte IE 9]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
  </body>
</html>
